### 1) Write a program to print the maximum between two numbers. (one-line conditional statement)

In [12]:
x=5;y=3
x if x > y else y

5

### 2) Write a program to find the maximum between three numbers.

In [20]:
x=4;y=1;z=5
x if x>y and x>z else y if y>z else z

5

### 3) Write a program to check whether a number is negative, or positive (one-line conditional statement)

In [28]:
x = -1
'Zero' if x == 0 else 'Postive' if x > 0 else 'Negative'

'Negative'

### 4) Write a  program to check whether a number is even or odd  (one-line statement).

In [35]:
x = 4
'even' if x % 2 == 0 else 'odd'

'even'

### 5) Write a  program to store the weekdays in a list and access the week day and print it by index.

In [37]:
weekend = ['sunday' , 'monday' , 'tuesday' , 'wednesday' , 'friday' , 'saturday']
weekend.pop(0)

'sunday'

### 6)Write a program to store numbers in the List and print its reverse

In [39]:
list = []
n = int(input("how many numbers will you enter:"))
for i in range(n):
    num = input("Enter variable:")
    list.append(num)
print(list[::-1])

how many numbers will you enter: 4
Enter variable: 1
Enter variable: 2
Enter variable: 3
Enter variable: 4

['4', '3', '2', '1']

### 7) Write a program to print the multiplcation table of any number

In [41]:
x = 4
for i in range(11):
    print(f"{x} X {i} = {x*i}" )

4 X 0 = 0
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

### 8) Write a program to print all even numbers between 1 to 100.(using while loop and for loop)

In [50]:
x = 0
while x <= 100:
    if(x % 2 == 0):
        print(x)
    x += 1

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [52]:
#8
for i in range(101):
    if(i % 2 == 0):
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100