## 1. Write a Python program to add an item to a tuple.

In [9]:
x = (1,2,3)
z = x + (5,)
z

(1, 2, 3, 5)

## 2. Write a Python program to sum all the items in a list.

In [31]:
x = [1,2,3,4]
sum(x)

10

In [33]:
summ = 0
for i in range(len(x)):
    summ += i
print(summ)

6

## 3. Write a Python program to multiply all the items in a list.

In [36]:
x = [1,2,3,4]
mul = 1
for i in x:
    mul *= i
mul

24

## 4. Write a Python program to get the smallest number from a list.

In [47]:
x = [10,20,30,40]
min(x)

10

In [59]:
mini = x[0]
for i in x:
    print()
    if i < mini:
        mini = i
print(mini)

10

## 5. Write a Python program to get the largest number from a list.

In [62]:
x = [10,20,30,40]
max(x)

40

In [64]:
maxi = x[0]
for i in x:
    if maxi < i:
        maxi = i
maxi

40

## 6. Write a Python program to count the number of strings from a given list of strings.

In [68]:
list = ['seif' , 'nabil' , 'ahmed']
len(list)

3

## 7. Write a Python program to clone or copy a list

In [77]:
#clone
x = [10,20,30]
y = x 
if(y is x):
    print("clone")
else:
    print("copy")

clone

In [79]:
x = [10,20,30]
y = x.copy()
if(y is x):
    print("clone")
else:
    print("copy")

copy

## 8. Write a Python program to remove item(s) from a given set.

In [86]:
set = {1 ,2 , 3 , 4 , 'seif'}
set.discard(1)
set

{2, 3, 4, 'seif'}

In [2]:
set1 = {1 ,2 , 3 , 4 , 'seif'}
list1 = list(set1)
list1.remove(1)
set1 = set(list1)
set1

{2, 3, 4, 'seif'}

## 9. Write a Python program to check if a set is a subset of another set.

In [11]:
set1 = {1,2,3,4,5}
set2 = {1,2,3}
print(set2.issubset(set1))

True

In [23]:
set1 = {1,2,3,4,5}
set2 = {1,2,3}
for i in set2:
    retval = False
    for k in set1:
        if i == k:
            retval = True
            break

retval

True

## 10. Write a Python program to remove all elements from a given set.

In [32]:
set = {1,2,3,4}
set.clear()
print(set)

set()

## 11. Write a Python program to find the maximum and minimum values in a set.

In [39]:
set1 = {1,2,3,4}
print(f"Max = {max(set1)} min = {min(set1)}")

Max = 4 min = 1

In [41]:
list1 = list(set1)
for i in list1:
    max = list1[0]
    min = list1[0]
    if max < i:
        max = i
    if min > i:
        min = i
print(f"Max = {max} min = {min}")

Max = 4 min = 1

## 12. Write a Python program to find the index of an item in a tuple.

In [44]:
tuple = (1,2,3,4)
tuple.index(4)

3

## 13. Write a Python program to convert a tuple to a dictionary.

In [53]:
tuple = ((1,2),(3,4))
dict = dict(tuple)
dict

{1: 2, 3: 4}

## 14. Write a Python program to unzip a list of tuples into individual lists.

In [65]:
tuple = ((1,2),(3,4))
numbers1 , numbers2 = zip(*tuple)
print(list(numbers1) , list(numbers2))

[1, 3] [2, 4]

## 15. Write a Python program to reverse a tuple.

In [1]:
tuple1 = (1,2,3,4)
temp = list(tuple1)
temp.reverse()
tuple2 = tuple(temp) 
print(tuple2)

(4, 3, 2, 1)

## 16. Write a Python program to convert a list of tuples into a dictionary.

In [3]:
list_of_tuples = [(1,2) , (3,2), ("seif" , 'nabil')]
dic = dict(list_of_tuples)
dic

{1: 2, 3: 2, 'seif': 'nabil'}

## 17. Write a Python program to replace the last value of tuples in a list.

In [14]:
x =  [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
x2 = []
for i, k, z in x:
    x2.append((i,z,100))
x2

[(10, 40, 100), (40, 60, 100), (70, 90, 100)]

## 18. Write a Python program to sort a tuple by its float element.

In [25]:
t = (0.0 , 3.3 , 1.2 , 1.0 , 1.1 , 2.4)
t2 = list(t)
t2.sort()
t2 = tuple(t2)
t2

(0.0, 1.0, 1.1, 1.2, 2.4, 3.3)